

/* 
 * WIDTH: 800px
 * HEIGHT: 800px
 * MIN_WIDTH: 200px
 * MIN_HEIGHT: 200px
 * PRIMARY_COLOR: rgb(34, 34, 34)
 * SECONDARY_COLOR: white
 * SECONDARY_COLOR_PASSIVE: rgba(255, 255, 255, 100)
 * TERTIARY_COLOR: rgb(28, 28, 28)
 * BACKGROUND TOOLBAR: rgba(0,0,0, 120)
 * LENGTH_BORDER: 10
 * SIZE_BORDER: 2
 * DEFAULT_FONT: Arial 18;
 */


.pane {
	-fx-background-color: rgb(34, 34, 34);
}

.label, .button, .checkbox {
	-fx-background-color: transparent;
	-fx-font-size: 18px;
	-fx-font-family:'Segoe UI' Arial, sans-serif;
	-fx-font-weight: 500;
	-fx-pref-height: 50px;
	-fx-text-fill: white;
}

.checkbox {
	-fx-font-size: 14px;
}

.title {
	-fx-font-size: 28px;
	-fx-pref-width: 100%;

	-fx-border-color: rgb(24, 24, 24);
	-fx-border-width: 0px 0px 1px 0px; 
}

.yeah {
	-fx-font-style: italic;
}

.button {
	-fx-padding: 5px 20px;
	-fx-border-color: white;
	-fx-border-width: 2;
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: white;
	-fx-text-fill: rgb(34, 34, 34);
}

.start-pane, .media-player {
	-fx-pref-width: 800px;
	-fx-pref-height: 800px;
}

.container {
	-fx-pref-width: 100%;
	-fx-pref-height: 100%;
}

.drop-area {
	-fx-pref-width: 80%;
	-fx-pref-height: 80%;
	-fx-opacity: 0.5;
	-fx-border-color: white;
	-fx-border-width: 2px; 
	-fx-border-style: segments(20) line-cap butt;
}

.path {
	-fx-font-size: 12px;
	-fx-font-style: italic;
}

.drop-area:hover {
	-fx-opacity: 1;
}

.toolbar {
	-fx-pref-width: 100%;
	-fx-pref-height: 75px;

}

.toolbar-button, .toolbar-last-button {
	-fx-border-color: black;
	-fx-border-width: 1px 1px 0px 0px; 
	-fx-border-top-style: solid;
	-fx-cursor: hand;

	-fx-background-color: rgba(0, 0, 0, 0.7);
	-fx-background-position: center center;
	-fx-padding: 0px 10px;
	-fx-background-size: auto 40%;
	-fx-background-repeat: no-repeat;
}

.toolbar-button:hover, .active {
	-fx-background-color: rgba(0, 0 ,0, 0.9);
}

.toolbar-last-button {
	-fx-border-width: 1px 0px 0px 0px; 
}

#settings {	
	-fx-background-image: url("../assets/icons/settings.png");
}

.label-settings {
	-fx-font-size: 14px;
	-fx-padding: 0 0 0 30px;	
}

.color-picker {
	-fx-background-color: transparent;
	-fx-border-color: white;
	-fx-border-width: 2;
	-fx-font-size: 14px;
	-fx-pref-height: 40px;
}

#sorting {
	-fx-background-image: url("../assets/icons/sort.png");
}

#logs {
	-fx-background-image: url("../assets/icons/logs.png");
}

#grid {
	-fx-background-image: url("../assets/icons/grid.png");
}

#fullscreen {
    -fx-background-image: url("../assets/icons/fullscreen.png");
}

#locked {
    -fx-background-image: url("../assets/icons/locked.png");
}

#unlocked {
    -fx-background-image: url("../assets/icons/unlocked.png");
}



.media-pane {
	-fx-pref-width: 100%;
}

.logs-pane {
    -fx-font-family: consolas;
    -fx-highlight-fill: white;
    -fx-text-fill: white;
    -fx-highlight-text-fill: rgb(28, 28, 28);
    -fx-font-size: 14px;
    -fx-background-color: rgb(34, 34, 34);
    -fx-padding: 10px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}